[Desktop Entry]
Name=Minecraft
Exec=/usr/bin/minecraft-launcher
Terminal=false
Type=Application
Icon=/usr/share/icons/minecraft/minecraft-icon.png
Categories=Game
