[Desktop Entry]
Name=LiveSplit
Exec=wine '/usr/lib/livesplit/livesplit.exe'
Terminal=false
Type=Application
Icon=/usr/share/icons/livesplit/livesplit-icon.png
Categories=Game;Utility;
